@model IEnumerable<RoofSafety.Models.EquipTypeTestHazards>

@{
    Layout = null;
    ViewData["Title"] = "Hazards for Equip Type Test" + @ViewBag.EquipTypeTest;
}

@*<h1>Hazards for Equip Type Test @ViewBag.EquipTypeTest</h1>
*@
@*<p>
    <a asp-action="Create" asp-route-id="@ViewBag.EquipTypeTestID">Add new Items Types</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hazard.Detail)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Hazard.Detail)
            </td>
            <td>
                <button onclick="Deleteetth(@item.id);return false;"><img src="~/Image/delete.png" /></button>
            </td>
        </tr>
}
    </tbody>
</table>
